# Java
*.class
*.jar
*.war
*.ear
target/

# Maven
.mvn/

# IDE
.idea/
*.iml
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Temporary files
*.tmp
*.swp
*.bak

#文档和测试数据

docs/
test-data/

# 程序自带的jar文件，不忽略
!mmp_cloud_backend/ruoyi-visual/ruoyi-nacos/src/main/resources/lib/*.jar
!mmp_cloud_backend/ruoyi-visual/ruoyi-seata-server/src/main/resources/lib/*.jar