# 安全配置
security:
  # 不校验白名单
  ignore:
    whites:
      - /auth/code
      - /auth/logout
      - /auth/login
      - /auth/binding/*
      - /auth/register
      - /auth/tenant/list
      - /resource/sms/code
      - /resource/sse/close
      - /*/v3/api-docs
      - /*/error
      - /csrf
      - /warm-flow-ui/**

spring:
  cloud:
    # 网关配置
    gateway:
      # 打印请求日志(自定义)
      requestLog: true
      server:
        webflux:
          discovery:
            locator:
              lowerCaseServiceId: true
              enabled: true
          routes:
            # 认证中心
            - id: ruoyi-auth
              uri: lb://ruoyi-auth
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1
            # 代码生成
            - id: ruoyi-gen
              uri: lb://ruoyi-gen
              predicates:
                - Path=/tool/**
              filters:
                - StripPrefix=1
            # 系统模块
            - id: ruoyi-system
              uri: lb://ruoyi-system
              predicates:
                - Path=/system/**,/monitor/**
              filters:
                - StripPrefix=1
            # 资源服务
            - id: ruoyi-resource
              uri: lb://ruoyi-resource
              predicates:
                - Path=/resource/**
              filters:
                - StripPrefix=1
            # workflow服务
            - id: ruoyi-workflow
              uri: lb://ruoyi-workflow
              predicates:
                - Path=/workflow/**
              filters:
                - StripPrefix=1
            # warm-flow服务
            - id: warm-flow
              uri: lb://ruoyi-workflow
              predicates:
                - Path=/warm-flow-ui/**,/warm-flow/**
            # 演示服务
            - id: ruoyi-demo
              uri: lb://ruoyi-demo
              predicates:
                - Path=/demo/**
              filters:
                - StripPrefix=1
            # MQ演示服务
            - id: ruoyi-test-mq
              uri: lb://ruoyi-test-mq
              predicates:
                - Path=/test-mq/**
              filters:
                - StripPrefix=1
            # cdi-mmp-doctor 服务
            - id: cdi-mmp-doctor
              uri: lb://cdi-mmp-doctor
              predicates:
                - Path=/doctor/**
              filters:
                - StripPrefix=1
            # cdi-mmp-coresystem 服务
            - id: cdi-mmp-coresystem
              uri: lb://cdi-mmp-coresystem
              predicates:
                - Path=/coresystem/**
              filters:
                - StripPrefix=1
            # cdi-mmp-emergency 服务
            - id: cdi-mmp-emergency
              uri: lb://cdi-mmp-emergency
              predicates:
                - Path=/emergency/**
              filters:
                - StripPrefix=1
            # cdi-mmp-ntp 服务
            - id: cdi-mmp-ntp
              uri: lb://cdi-mmp-ntp
              predicates:
                - Path=/ntp/**
              filters:
                - StripPrefix=1
            # cdi-mmp-qc 服务
            - id: cdi-mmp-qc
              uri: lb://cdi-mmp-qc
              predicates:
                - Path=/qc/**
              filters:
                - StripPrefix=1
            # cdi-mmp-qualification 服务
            - id: cdi-mmp-qualification
              uri: lb://cdi-mmp-qualification
              predicates:
                - Path=/qualification/**
              filters:
                - StripPrefix=1
            # cdi-mmp-radiation 服务
            - id: cdi-mmp-radiation
              uri: lb://cdi-mmp-radiation
              predicates:
                - Path=/radiation/**
              filters:
                - StripPrefix=1
            # cdi-mmp-supervision 服务
            - id: cdi-mmp-supervision
              uri: lb://cdi-mmp-supervision
              predicates:
                - Path=/supervision/**
              filters:
                - StripPrefix=1
            # cdi-mmp-tumorqc 服务
            - id: cdi-mmp-tumorqc
              uri: lb://cdi-mmp-tumorqc
              predicates:
                - Path=/tumorqc/**
              filters:
                - StripPrefix=1
            # cdi-mmp-ledger 服务
            - id: cdi-mmp-ledger
              uri: lb://cdi-mmp-ledger
              predicates:
                - Path=/ledger/**
              filters:
                - StripPrefix=1
